:root{
    --gray: black !important;
    --black: #081555 !important;
}

h3{
    color:black
}
.swal2-popup {
    font-size: 4rem !important;
    font-family: Georgia, serif;
  }
.swal2-popup {
    font-size: 4rem !important;
    font-family: Georgia, serif;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;  
    text-decoration: none;  
    list-style: none;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
html,body{
    font-size: 62.5%;
}