:root{
    --gray: #817B7B;
    --black: #474747;
}
a{ 
    color: var(--gray);
}
.swal2-popup {
    font-size: 4rem !important;
    font-family: Georgia, serif;
  }
.swal2-popup {
    font-size: 4rem !important;
    font-family: Georgia, serif;
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;  
    text-decoration: none;  
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Teko', sans-serif;
}
html,body{
    font-size: 62.5%;
}