body {
  font-family: "Roboto Mono", monospace;
  min-height: 300px;
  background-image: url("https://wallpapercave.com/wp/wp2300383.jpg");
  background-color: #000000;
  background-size: 200vh;
  background-position: center;
  background-repeat: repeat;
}

.container {
  text-align: center;
  padding: 20px;
  height: 50vh;
}

.container2 {
  text-align: center;
  padding: 20px;
  height: 10vh;
}

.page-title {
  color: black;
  margin: 0 0 5px;
}

.page-subtitle {
  color: black;
  margin-top: 5px;
  font-size: 30px;
}

.page-logo {
  width: 200px;
}

.alura-logo {
  width: 40px;
  position: absolute;
  top: 10px;
  right: 10px;
}

#real {
  margin: 12px;
  padding: 6px;
  border-radius: 5px;
}
#dolar {
  margin: 10px;
  padding: 6px;
  border-radius: 5px;
}
#euro {
  margin: 8px;
  padding: 6px;
  border-radius: 5px;
}
#iene {
  margin: 6px;
  padding: 6px;
  border-radius: 5px;
}

label {
  font-size: 20px;
  color: black;
}

button {
  margin-top: 12px;
  padding: 4px 8px;
  border-radius: 10px;
  background: #ffffff;
}
